<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Locker</title>
        <link rel="icon" href="/icon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">

            <div class="text-center" style="padding: 30px;">
                <img src="/icon.png" width="200px" height="200px">
            </div>

            <form action="/lock" method="post" class="col-md-6 offset-md-3">

                <div class="form-group">
                    <label for="password">Enter your password here: </label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Lock Device</button>
            </form>

        </div>
    </body>
</html>